@{
    ViewData["Title"] = "Bilge Otel";
}

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Bilge Hotel'e Hoşgeldiniz...</h1>
                <p class="lead text-muted">Bilge Hotel Thermal Spa & Convention Center; Kemer şehir merkezinde, güler yüzlü ve profesyonel ekibi ile beklentilerin üzerinde hizmet vermektedir. <br />Bilge Hotel 35 yıllık deneyimi, misafir memnuniyeti odaklı hizmet anlayışı ile sizleri kaliteye ve konfora davet ediyor..</p>
                @*<p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>*@
            </div>
        </div>


        <!--********************************-->
        <div class="row">
            <div class="col-sm-6">
                <div class="card my-4 px-1">
                    <div class="card-body ">
                        <h5 class="card-title">Emmanuel Martinez Suite</h5>
                        <img class="card-img-top" src="~/img/Emmanuel Martinez Suite.png">
                        <p class="card-text">140 m2 büyüklüğünde ve yaklaşık 60 m2'lik özel bir teras, ayrı bir yaşam alanı, bir kral yatak, gömme dolap, küvet ve yağmur duşu sunan geniş, yenilenmiş Art Deco süitin keyfini çıkarın.</p>
                        <a href="#" class="btn btn-info">Rezervasyon</a>
                    </div>
                </div>
                <div class="card my-4 px-1">
                    <div class="card-body ">
                        <h5 class="card-title">Junior Suite King</h5>
                        <img class="card-img-top" src="~/img/Junior Suite King.png">
                        <p class="card-text">Şehir manzarası, bir kral yatak, yataklı kanepe, Nespresso makinesi, küvet ve yağmur duşu bulunan 45 metrekarelik çağdaş Art Deco süit.</p>
                        <a href="#" class="btn btn-info">Rezervasyon</a>
                    </div>
                </div>
                <div class="card my-4 px-1">
                    <div class="card-body ">
                        <h5 class="card-title">Junior Suite with Terrace</h5>
                        <img class="card-img-top" src="~/img/Junior Suite with Terrace.png">
                        <p class="card-text"> Yaklaşık 50 metrekarelik çağdaş Art Deco süit. 30 m2 özel teras, bir kral yatak, Nespresso makinesi, küvet ve yağmur duşu.</p>
                        <a href="#" class="btn btn-info">Rezervasyon</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body my-2 px-1">
                        <h5 class="card-title">Suzanne Martinez Suite</h5>
                        <img class="card-img-top" src="~/img/Suzanne Martinez Suite.png">
                        <p class="card-text">Yaklaşık 80 m² büyüklüğünde, özel teras, ayrı bir yaşam alanı, bir kral yatak, Nespresso Makinesi, küvet ve yağmur duşu sunan yenilenmiş, çağdaş Art Deco süitte benzersiz bir konaklama deneyimi yaşayın.</p>
                        <a href="#" class="btn btn-info">Rezervasyon</a>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="card my-4 px-1">
                    <div class="card-body">
                        <h5 class="card-title">Executive Suite City View</h5>
                        <img class="card-img-top" src="~/img/Executive Suite City View.png">
                        <p class="card-text">Yaklaşık 60 m² büyüklüğünde ve ayrı bir yaşam alanı, bir kral yatak, Nespresso makinesi, küvet ve yağmur duşu sunan yenilenmiş, çağdaş Art Deco süitin keyfini çıkarın.</p>
                        <a href="#" class="btn btn-info">Rezervasyon</a>
                    </div>
                </div>
                <div class="card my-4 px-1">
                    <div class="card-body">
                        <h5 class="card-title">Junior Suite Sea View King</h5>
                        <img class="card-img-top" src="~/img/Junior Suite Sea View King.png">
                        <p class="card-text">Güzel deniz manzarasının keyfini çıkarın. 45 metrekarelik çağdaş Art Deco süitte bir kral yatak, yataklı kanepe, Nespresso makinesi, küvet veya yağmur duşu bulunur.</p>
                        <a href="#" class="btn btn-info">Rezervasyon</a>
                    </div>
                </div>
                <div class="card my-2 px-1">
                    <div class="card-body">
                        <h5 class="card-title">Prestige Suite Sea View King</h5>
                        <img class="card-img-top" src="~/img/Prestige Suite Sea View King.png">
                        <p class="card-text">Güzel deniz manzarası, bir kral yatak, ayrı oturma ve yemek odası, gömme dolap içeren bu geniş 110 metrekarelik çağdaş Art Deco süiti keşfedin.</p>
                        <a href="#" class="btn btn-info">Rezervasyon</a>
                    </div>
                </div>
            </div>
            
            
        </div>
        






    </section>

   


</main>