<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title></title>


    <link href="~/css/site.css" rel="stylesheet" />


    <!-- Bootstrap core CSS -->

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @*<link href="carousel.css" rel="stylesheet">*@

</head>
<body>
       
    <main>
         
                   

        <div class="container marketing">
                    
            <div class="col-lg-10 col-md-10 mx-auto mt-4">
                <h1 class="fw-light">Bilge Otel, Kalite ve Konforun Adresi</h1><br />
                <p class="lead text-muted">Otelimiz denize ve merkeze 100 metre mesafede olup,sahilde birbirinden nezih plajlarda denizin ve güneşin tadını çıkartabilirisniz. Akşam olunca da bölgemizin güler yüzlü insanlarını tanıyabilir,birbirinden güzel dükkanlardan hediyelik alışverişi yapabilirsiniz. Bir an gözlerinizi kapatın ve kuş sesleri arasında kendinizi doğanın içinde hayal edin.Hem doğanın güzelliği hem de Kemer'in eşsiz manzarasına sahip olan terasımızda günün yorgunluğunu unutup ruhunuzu dinlendirecek bir tatil için rezervasyon yaptırmayı unutmayın.<br />Alışveriş merkezlerine,toplu taşıma duraklarına yürüyüş mesafesindedir.<br />Bilge Hotel Güvenli Turizm Sertifikası, ISO 22000 Gıda Güvenliği Yönetim Sistemi Belgesi, Sıfır Atık Belgesi ve Turuncu Bayrak sahibidir.</p>
            
            </div>
            

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 mt-4">
                    <h2 class="featurette-heading">İş toplantıları, kutlamalar ve tüm etkinlikleriniz için...<br /><span class="text-muted">Kaliteli hizmet anlayışıyla...</span></h2>
                    <p class="lead mt-3">Bilge Hotel iş toplantıları, kutlamalar ve farklı özel etkinlikler için 500 kişilik kapasiteye ve eksiksiz teknik donanıma sahip salonlarıyla bir şehir otelinin ötesine geçerek kişiye özel lüks hizmetler sunuyor.</p>
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                       
                        <img class="img-responsive size-full wp-image-73" src="~/img/Hakkımızda1.png" alt="aes" width="500" height="400" />
                                              
                    </div>

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-6 order-md-2 mt-4">
                    <h2 class="featurette-heading">Siz hayal edin biz gerçekleştirelim...<br /><span class="text-muted">Memnuniyetiniz bizim önceliğimizdir...</span></h2>
                    <p class="lead mt-3">Tüm odalarda ücretsiz wifi,klima,tv,lcd televizyon,mini buzdolabı, saç kurutma makinası,double yatak,ücretsiz bebek yatağı,banyo bukletleri, mevcuttur.Odaların her biri beyazın hakim olduğu özenli ve şık tasarımı ile siz misafirlerimizin tüm rahatlığı düşünülerek dekore edilmiştir.</p>
                </div>
                <div class="col-md-6 order-md-1">
                    <div class="card-body">

                        <img class="img-responsive size-full wp-image-73" src="~/img/Hakkımızda2.png" alt="aes" width="500" height="400" />

                    </div>

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 mt-4">
                    <h2 class="featurette-heading">Eşsiz terasımız sizleri bekliyor...<br /><span class="text-muted">Günlük ve taze yemeklerimizi deneyiniz...</span></h2>
                    <p class="lead mt-3">Otelimizin teras katında muhteşem Kemer manzarası eşliğinde yapacağınız sabah kahvaltısıyla güne zinde başlayabilirsiniz. Ayrıca: Öğle ve akşam yemeklerini isteğinize göre günlük ve taze olarak sunmaktayız.</p>
                </div>
                <div class="col-md-5">
                    <div class="card-body">

                        <img class="img-responsive size-full wp-image-73" src="~/img/Hakkımızda3.png" alt="aes" width="500" height="400" />

                    </div>

                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
        
    </main>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
